{%- import "components/ui.njk" as ui with context -%}

<nav role="navigation" aria-label="{{ "navigation.label" | translate }}">
  <ul class="Nav flex flex-wrap justify-content-center list-reset">
    {%- for entry in collections[locale] | eleventyNavigation -%}
      <li class="Nav-item{{ " Nav-item--home" if entry.isHomePage == true }}">
        {{ ui.navLink(entry) }}
      </li>
    {%- endfor -%}
  </ul>
</nav>
