{%- import "components/ui.njk" as ui with context -%}

<nav role="navigation" aria-label="{{ "navigation.label" | translate }}">
  <ul class="flex flex-wrap justify-content-center list-reset">
    {%- for entry in collections[locale] | eleventyNavigation -%}
    {%- if entry.display != false -%}
      {%- if entry.isHomePage == true -%}
        <li class="flex-grow-1">
          {{ ui.navLink(entry, "brand") }}
        </li>
      {%- else -%}
        <li>
          {{ ui.navLink(entry) }}
        </li>
      {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
