{%- macro navLink(link) -%}
  {%- set active = page.url == link.url -%}
  {%- set hasTitle = link.titleAttr and link.titleAttr != "" -%}

  <a href="{{ link.url }}" class="Nav-link"{% if active %} aria-current="page"{% endif %}{% if hasTitle %} title="{{ link.titleAttr }}"{% endif %}>
    {{ link.title | safe }}
  </a>
{%- endmacro -%}
