{%- macro navLink(link, class) -%}
  {%- set active = page.url == link.url -%}
  {%- set hasTitle = link.titleAttr and link.titleAttr != "" -%}

  <a{% if class %} class="{{ class }}"{% endif %}{% if active %} aria-current="page"{% else %} href="{{ link.url }}"{% endif %}{% if hasTitle %} title="{{ link.titleAttr }}"{% endif %}>
    {{ link.title | safe }}
  </a>
{%- endmacro -%}
