{%- macro navLink(link) -%}
  {%- set active = page.url == link.href -%}

  <a href="{{ link.href }}" class="Nav-link"{% if active %} aria-current="page"{% endif %}>
    {{ link.label | safe }}
  </a>
{%- endmacro -%}
