@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/hind-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/hind-bold.woff2") format("woff2");
}

:root {
  --primary: #6161fe;
  --text-color: #444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  font-family: "Hind", "Arial", "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

:focus {
  outline: 3px solid currentColor;
  outline-offset: 2px;
}

a {
  color: var(--primary);
  font-weight: 700;
}

h1::after {
  background: var(--primary);
  content: "";
  display: block;
  height: .125rem;
  margin-top: .25rem;
  width: 5rem;
}

[role="main"] {
  background: #fff;
  border-radius: 2px;
  color: #444;
  max-width: 80ch;
  padding: 2rem;
  width: 90%;
}

img[alt] {
  border-radius: 50%;
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 37.5rem) {
  body {
    align-items: flex-start;
    padding-top: 5%;
  }
}
