<!doctype html>
<html lang="{{ locale }}" dir="{{ site.locales[locale].dir }}">
  <head>
    <meta charset="utf-8">
    <title>{{ meta.title }} | {{ site.title }}</title>
    {%- if meta.description -%}
      <meta name="description" content="{{ meta.description }}">
    {%- endif -%}
    {%- if meta.robots -%}
      <meta name="robots" content="{{ meta.robots.index }},{{ meta.robots.follow }}">
    {%- endif -%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/{{ manifest["style.css"] }}">
    <link rel="alternate" type="application/atom+xml" title="{{ "feed.title" | translate }} (Atom)" href="/{{ locale | getFeedPermalink }}">
  </head>
  <body>
    {%- include "components/header.njk" -%}
    <main id="main-content" class="container flow" role="main">
      {%- block content -%}{%- endblock -%}
    </main>
    {%- include "components/footer.njk" -%}
  </body>
</html>
