---
meta:
  title: Cookbook
eleventyNavigation:
  key: Cookbook
  order: 4
---

<h1>This is a <code>&lt;h1&gt;</code> tag</h1>


<h2>&lt;h2&gt;This is some motherfucking <a href="https://slipsum.com/">Slipsum</a></h2>

<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>

<h3>&lt;h3&gt;Lorem ipsum</h3>

<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of <a href="#">charity and good will</a>, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>

<h4>&lt;h4&gt;Bzlefudizeund oeziqnd</h4>

<p>Normally, <strong>both your asses would be dead as fucking fried chicken</strong>, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>

<figure>
  <img src="https://via.placeholder.com/700x300?text=You%20Mad?" alt="">
  <figcaption>This is <strong>the</strong> legend !</figcaption>
</figure>

<ul>
  <li><a href="https://example.com">external link</a></li>
  <li><a href="/about">internal link</a></li>
  <li>over this case to hand it over</li>
  <li>to your dumb ass</li>
</ul>

<ol>
  <li>I've already been through</li>
  <li>too much shit this morning</li>
  <li>over this case to hand it over</li>
  <li>to your dumb ass</li>
</ol>

<h2>Citations</h2>

<blockquote cite="https://www.w3.org/Press/IPO-announce">
  <p>The power of the Web is in its universality. Access by everyone regardless of disability is an essential aspect.</p>
  <footer>
    Tim Berners-Lee, <abbr title="World Wide Web Consortium">W3C</abbr> Director and inventor of the World Wide Web.
  </footer>
</blockquote>

<h2>These are some code examples</h2>

{%- code "JavaScript" -%}
function ScreenReaderSpeak (message) {
  const el = document.createElement('div')

  el.setAttribute('aria-live', 'polite')
  el.classList.add('sr-only')

  document.body.appendChild(el)

  window.setTimeout(() => el.innerHTML = message, 100)
  window.setTimeout(() => document.body.removeChild(el), 1000)
}
{%- endcode -%}

<p>Normally, both your asses would be dead as <mark>fucking fried chicken</mark>, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this dumb <code>console.log('I am here')</code> debugging.</p>

<h2>Some <code>&lt;table&gt;</code> and shit</h2>

<table>
  <caption>Table example</caption>
  <thead>
    <tr>
      <th>Header A</th>
      <th>Header B</th>
      <th>Header C</th>
      <th>Header D</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Cell A1</td>
    <td>Cell A2</td>
    <td>Cell A3</td>
    <td>Cell A4</td>
  </tr>
  <tr>
    <td>Cell B1</td>
    <td>Cell B2</td>
    <td>Cell B3</td>
    <td>Cell B4</td>
  </tr>
  <tr>
    <td>Cell C1</td>
    <td>Cell C2</td>
    <td>Cell C3</td>
    <td>Cell C4</td>
  </tr>
  <tr>
    <td>Cell D1</td>
    <td>Cell D2</td>
    <td>Cell D3</td>
    <td>Cell D4</td>
  </tr>
  </tbody>
</table>
