<header role="banner">
  <div class="container">
    <div class="Header-top flex">
      {{ snippet('components/skiplinks') }}
      {{ snippet('components/changelang') }}
    </div>
    <div class="Header-body">
      {{ snippet('components/navigation') }}
    </div>
  </div>
</header>
