<header role="banner">
  <div class="container">
    <div class="Header-top flex">
      <nav role="navigation" aria-label="{{ t('skiplinks.label') }}">
        <a href="#main-content">{{ t('skiplinks.content') }}</a>
      </nav>
    </div>
    <div class="Header-body">
      {{ snippet('components/navigation') }}
    </div>
  </div>
</header>
