<header role="banner">
  <div class="container">
    <div class="Header-top flex">
      <nav role="navigation" aria-label="Liens d'accès rapide">
        <a href="#main-content">Aller au contenu</a>
      </nav>
    </div>
    <div class="Header-body">
      navigation
    </div>
  </div>
</header>
