{%- set class = class ?? null -%}
{%- set title = title ?? null -%}

<a
    {%- if class %} class="{{ class }}"{% endif %}
    {%- if link.current == 'page' %} aria-current="page"{% else %} href="{{ link.url }}"{% endif %}
    {%- if title %} title="{{ title }}"{% endif %}>
  {{ link.label | raw }}
</a>
